@model IList<CategoryModel>
@if (Model.Count > 0 && Model[0].IsAuthenticated == true)
{
    <div class="category-grid home-page-category-grid">
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    <div class="category-item">
                        <div class="picture">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                            </a>
                        </div>
                        <h2 class="title">
                            <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                @item.Name
                            </a>
                        </h2>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
<div class="topic-block">
        <div class="topic-block-title">
            <h2>Carra Jewellery Inc.</h2>
        </div>
    <div class="tabletopic">
        <div class="rowtopic">
            <div class="topic-block-body celltopic" style="text-align:center">
                @Html.Raw("<div style=\"line-height: 30px;\"><p style=\"text-align: center;\">Yenibosna Merkez Mah. Ladin Sk. No:4</p><p style=\"text-align: center;\">Kuyumcukent Atölye Blogu 1.Kat 1.Sk No:11</p><p style=\"text-align: center;\">34197 Bahçelievler - Istanbul - Turkey</p><p style=\"text-align: center;\"><a href=\"mailto:info@carrajewellery.com\">info@carrajewellery.com</a></p><p style=\"text-align: center;\">Phone:+902126032615</p><div> </div></div>")
            </div>
            <div class="topic-block-body celltopic">
                <img src="../Themes/DefaultClean/Content/images/whatsappqr.jpeg" alt="+905327653532" />
                <li class="logo" style="list-style-type: none;text-align: center"><img src="../Themes/DefaultClean/Content/images/whatsapp.png">+905327653532</li>
            </div>
        </div>
    </div>
</div>
}
