@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib/magnific-popup/magnific-popup.css");
}
<div class="gallery">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
    @if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 1)
    {
    <div class="picture">

        <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
            <img style="zoom: 75%; bottom: 120px;" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
        </a>
        @if(!string.IsNullOrEmpty(Model.MetaKeywords) && Model.MetaKeywords.Contains("Mix"))
        {
        <div style="width: 10%; float: left; position: absolute; left: 4%; bottom: 45%;">
            <img style="position:relative; transform:rotate(85deg);"
                 id="main-product-img-slot1" />
            <div><b>Slot 1</b></div>
            <input id="slot1" type="button" value="Remove" onclick="removeImage(1)" />
        </div>
        <div style="width: 10%; float: left; position: absolute; left: 12%; bottom: 12%;">
            <img style="position:relative; transform:rotate(45deg);"
                 id="main-product-img-slot2" />
            <div><b>Slot 2</b></div>
            <input id="slot2" type="button" value="Remove" onclick="removeImage(2)" />
        </div>
        <div style="width: 10%; float: left; position: absolute; left: 45%; bottom: 0%;">
            <img style="position:relative; transform:rotate(0deg);"
                 id="main-product-img-slot3" />
            <div><b>Slot 3</b></div>
            <input id="slot3" type="button" value="Remove" onclick="removeImage(3)" />
        </div>
        <div style="width: 10%; float: left; position: absolute; right: 12%; bottom: 12%;">
            <img style="position:relative; transform:rotate(315deg);"
                 id="main-product-img-slot4" />
            <div><b>Slot 4</b></div>
            <input id="slot4" type="button" value="Remove" onclick="removeImage(4)" />
        </div>
        <div style="width: 10%; float: left; position: absolute; right: 4%; bottom: 45%;">
            <img style="position:relative; transform:rotate(275deg);"
                 id="main-product-img-slot5" />
            <div><b>Slot 5</b></div>
            <input id="slot5" type="button" value="Remove" onclick="removeImage(5)" />
        </div>
        }
        <script asp-location="Footer">
                $(document).ready(function() {
                    $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup({
                        type: 'image',
                        callbacks: {
                            open: function () {
                                $(".mfp-figure figure").css("cursor", "zoom-in");
                                zoom(zoom_percent);
                            },
                            close: function () {
                                // Will fire when popup is closed
                            }
                            // e.t.c.
                        }
                    });
                });
                var zoom_percent = "100";
                function zoom(zoom_percent) {
                    $(".mfp-figure figure").click(function () {
                        switch (zoom_percent) {
                            case "100":
                                zoom_percent = "120";
                                break;
                            case "120":
                                zoom_percent = "150";
                                break;
                            case "150":
                                zoom_percent = "200";
                                $(".mfp-figure figure").css("cursor", "zoom-out");
                                break;
                            case "200":
                                zoom_percent = "100";
                                $(".mfp-figure figure").css("cursor", "zoom-in");
                                break;
                        }
                        $(this).css("zoom", zoom_percent + "%");
                    });
                }
        </script>
    </div>
    }
    else
    {
        <div class="picture">
            <a class="thumb-item" href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title">
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
            </a>
        </div>
        <div class="picture-thumbs">
            @foreach (var picture in Model.PictureModels)
            {
                @if (picture.FullSizeImageUrl != Model.DefaultPictureModel.FullSizeImageUrl)
                {
                    <a class="thumb-item" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title">
                        <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </a>
                }
            }
        </div>
        <script asp-location="Footer">
            $(document).ready(function() {
                $('.picture-thumbs,.picture').magnificPopup(
                    {
                        type: 'image',
                        delegate: 'a',
                        removalDelay: 300,
                        gallery: {
                            enabled: true,
                            navigateByImgClick: false,
                            preload: [0, 1],
                            tPrev: '@T("Media.MagnificPopup.Previous")',
                            tNext: '@T("Media.MagnificPopup.Next")',
                            tCounter: '@T("Media.MagnificPopup.Counter")'
                        },
                        callbacks: {
                            open: function () {
                                $(".mfp-figure figure").css("cursor", "zoom-in");
                                zoom(zoom_percent);
                            },
                            close: function () {
                                // Will fire when popup is closed
                            }
                            // e.t.c.
                        },
                        tClose: '@T("Media.MagnificPopup.Close")',
                        tLoading: '@T("Media.MagnificPopup.Loading")'
                    });
            })
            var zoom_percent = "100";
            function zoom(zoom_percent) {
                $(".mfp-figure figure").click(function () {
                    switch (zoom_percent) {
                        case "100":
                            zoom_percent = "120";
                            break;
                        case "120":
                            zoom_percent = "150";
                            break;
                        case "150":
                            zoom_percent = "200";
                            $(".mfp-figure figure").css("cursor", "zoom-out");
                            break;
                        case "200":
                            zoom_percent = "100";
                            $(".mfp-figure figure").css("cursor", "zoom-in");
                            break;
                    }
                    $(this).css("zoom", zoom_percent + "%");
                });
            };
        </script>
        <script asp-location="Footer">
            $(document).ready(function() {
                $('.thumb-item > img').on('click',
                    function() {
                        $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                        $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                        $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                    });
            });
        </script>
    }

    <!--  @if (Model.PictureModels.Count > 1 && Model.DefaultPictureZoomEnabled)
    {

    }
    else
    {
        if (Model.PictureModels.Count > 1)
        {
            <div class="picture-thumbs">
                @foreach (var picture in Model.PictureModels)
                {
                    <div class="thumb-item">
                        <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </div>
                }
            </div>
            <script asp-location="Footer">
            $(document).ready(function() {
                $('.thumb-item img').on('click',
                    function() {
                        $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                        $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                        $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                        $('#main-product-img-lightbox-anchor-@Model.Id')
                            .attr('href', $(this).attr('data-fullsize'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                    });
            });
            </script>
        }
    }-->
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
</div>